## **FUNDAMENTOS DE PYTHON**

Escola: SoulCode Academy

Curso: Bootcamp Analista de Dados - Martech - AD2

Período: Semana 4

Professor: Franciane Rodrigues

Aluno: Anderson Figueirêdo Melo

* **Lógica de programação:** é um conceito teórico que se refere à forma de pensar e abordar problemas de programação.

* **Algoritmo** é uma descrição abstrata de um processo ou solução que poderá ser executado por um computador;
* **Script** é um conjunto de instruções ou comandos escritos em uma linguagem de programação específica. Geralmente, os scripts são usados para automatizar tarefas ou para definir o comportamento de um programa ou sistema. Eles são frequentemente executados interpretando linha por linha, em vez de serem compilados em um programa executável separado.
* **Programa** é  um conjunto de instruções escritas em uma linguagem de programação específica, organizadas de forma lógica, para realizar uma tarefa ou resolver um problema específico. Ao contrário de um script, um programa é compilado ou interpretado antes da execução, resultando em um arquivo executável que pode ser executado diretamente em um sistema operacional.

## **Comentários e tipos básicos de dados**

### Primeiro código - Óla Mundo

In [ ]:
print('Olá, Mundo!') # Usando aspas simples
print("Olá, Mundo!") # Usando aspas duplas

Olá, Mundo!
Olá, Mundo!

### Tipos de comentários

In [ ]:
# Istó é um comentário

In [ ]:
'''Isto é um comentário grande'''

'Isto é um comentário grande'

In [ ]:
"""
Isto
é
outro
comentário
"""

'\nIsto\né\noutro\ncomentário\n'

In [ ]:
# Isto é
# um
# espanto!

### Tipos de dados

![Foto 1.png]()

In [ ]:
# Estamos escrevendo nossos dados pessoais
print(34) # int - quantitativa
print(1.82) # float - quantitativa
print('Anderson') # str escrita com aspas simples - qualitativa
print("Figueirêdo") # str escrita com aspas duplas - qualitativa
print(False) # Bool - qualitativa

34
1.82
Anderson
Figueirêdo
False

**RESUMO**

*   Os **comentários** são como notas que você deixa para que você ou outra pessoa possa ler e ajuda documentar o seu código
*   **Comando print:** é uma função de saída utilizada em várias linguagens de
programação para exibir mensagens ou valores na tela do computador.
*   **\n**: usado para criar quebras de linha em um texto
*   Tipos de dados no Python mais usados são int, float, str, bool
*   int e float: dados quantitativos
*   str: dados categóricos / qualitativos

## **Variáveis**

### Declarando as primeiras variáveis

In [ ]:
# Estamos escrevendo nossos dados pessoais
print(34) # int - quantitativa
print(1.82) # float - quantitativa
print('Anderson') # str escrita com aspas simples - qualitativa
print("Figueirêdo") # sttr escrita com aspas duplas - qualitativa
print(False) # Bool - qualitativa

34
1.82
Anderson
Figueirêdo
False

In [ ]:
# Declarando variáveis
idade = 34
altura = 1.82
nome = 'Anderson'
sobrenome = "Figueirêdo"
filhos = False

### Comando (print)

In [ ]:
# Imprimir na tela usando comando print
print(idade)
print(altura)
print(nome)
print(sobrenome)
print(filhos)

34
1.82
Anderson
Figueirêdo
False

In [ ]:
# Imprimir na tela usando apenas o nome da variável
idade
altura
nome
sobrenome

'Figueirêdo'

In [ ]:
# Impressão geral na tela de todas as variáveis declaradas
print(idade, altura, nome, sobrenome, filhos)

34 1.82 Anderson Figueirêdo False

### Comando (type)

Serve para checarmos o tipo de dado que a variável está declaradando.

In [ ]:
type(idade)

int

Checando o tipo de variável, usando os comandos print e type juntos.

In [ ]:

print(type(idade))
print(type(altura))
print(type(nome))
print(type(sobrenome))
print(type(filhos))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>

### ATENÇÃO! O Python é sensível as letas maiúsculas e minusculos

---

In [ ]:
# nome = 'Anderson'
# print(Nome) # Sempre utilizar letras minúscalas para declarar a variável.

### Formas de armazenamento

Armazenando strings e número

In [ ]:
nome_completo = 'Anderson Figueirêdo Melo'
numero_favorito = "17"

Checando a variável numero_favorito

In [ ]:
print(type(numero_favorito))

<class 'str'>

Se o número estiver entre aspas, ele se transforma em uma string.

In [ ]:
print(f'Meu nome é {nome_completo} e tenho {numero_favorito}')

Meu nome é Anderson Figueirêdo Melo e tenho 17

Primeiro nome do nosso código.

In [ ]:
nome

'Anderson'

### Renomeação da variável

Sempre a última alteração será válida

In [ ]:
nome = 'Alguém'

print da variável "nome"

In [29]:
 nome

'Alguém'

**Resumo**

*  **Variáveis** permitem salvar valores na memória usando um nome que atribuímos
* Declaramos um nome no lado esquerdo do operador igual (“=”), e no lado direito, atribuir o valor que queremos salvar para usar mais tarde.
* Como ler: Declaramos a variável "a" ao valor do "2" do tipo int
* Ex.: a = 2
* Como ler: Declaramos a variável "b" ao valor do "10.953" do tipo float
* Ex.: b = 10.953
* Como ler: A variável "a" recebe valor 2 do tipo int
* Ex.: a = 2
* Como ler: A variável "b" recebe valor 10.953 do tipo float
* Ex.: b = 10.953
* É possível usar os dois comandos print e type juntos
* Atenção: Número pode ser string

**Regras para nomes de variáveis**

* Deve começar com uma letra (maíuscula ou minúscula) ou subcrito(_).
* Nunca podemos começar com um número.
* Pode conter letras maiúsculas, minúsculas, números e subscrito.
* Não pode-se utilizar como parte do nome de uma variável:
{ ( + - * / \ ; . , ?
* Letras maiúsculas e minúsculas são diferentes:
casa = 4
Casa = 4

## **Conversão de Variáveis**

### **Conversão de int para float**

In [31]:
num_int = 10
num_float = float(num_int)

10.0

Checando!

In [32]:
print(type(num_int), type(num_float))
print(num_float)

<class 'int'> <class 'float'>
10.0

### Conversão de int para str

In [33]:
num_int = 15
num_str = str(num_int)

Checando!

In [34]:
print(type(num_int), type(num_str))
print(num_str)

<class 'int'> <class 'str'>
15

### Conversão de float para int

In [35]:
num_float = 10.5
num_int = int(num_float)

Checando!

In [36]:
print(type(num_float), type(num_int))
print(num_int)

<class 'float'> <class 'int'>
10

### Conversão de float para str

In [38]:
num_float = 10.5
num_str = str(num_float)

Checando!

In [40]:
print(type(num_float), type(num_str))
print(num_str)

<class 'float'> <class 'str'>
10.5

### Conversão de str para int

In [41]:
num_str = '15'
num_int = int(num_str)

Checando!

In [44]:
print(type(num_str), type(num_int))
print(num_int)

<class 'str'> <class 'int'>
15

### Conversão de str para float

In [47]:
num_str = '15'
num_float = float(num_str)

Checando!

In [49]:
print(type(num_str), type(num_float))
print(num_float)

<class 'str'> <class 'float'>
15.0

### **CUIDADO - Conversão str para int**

Na conversão de uma variável string para uma variável int, primeiro porecisamos converter a variável string em uma variável float para somente depois convertê-la para uma variável int.

In [ ]:
# Falha no sistema:
# Conversão de str para int ()
# num_str = '10.5
# num_int = int(num_str)

# Conversão de str para int ()
num_str = '10.5'
num_float = float(num_str) # conversão intermediária
num_int = int(num_float)

# Checando
print(type(num_str), type(num_int))
print(num_int)

<class 'str'> <class 'int'>
10

## **Operadores Matemáticos**

Os operadores matemáticos básicos, tais como: adição, subtração, multiplicação, divisão, exponenciação e radiação podem ser feitos dentro do python.

### Adição

In [50]:
n1 = 56.8
n2 = 75.6
soma = n1 + n2

In [84]:
# Modos de apresentação

print(soma)
print('A soma é:', soma)
print(f"A soma é: {soma:.2f}")
print(n1 + n2)
n1+n2

132.39999999999998
A soma é: 132.39999999999998
A soma é: 132.40
132.39999999999998

132.39999999999998

### Subtração

In [52]:
a1 = 96.1
a2 = 94.0
sub = a1 - a2

In [63]:
# Modos de apresentação

print(sub)
print('A subatração é:', round(sub,2))
print(f"A subtração dos numéros é {sub:.2f}")
print(a1-a2)
a1-a2

2.0999999999999943
A subatração é: 2.1
A subtração dos numéros é 2.10
2.0999999999999943

2.0999999999999943

### Multiplicação

In [62]:
b1 = 3.57
multi = b1 * 3

In [65]:
# Modos de apresentação

print(multi)
print('A multiplicação é:', round(multi,2))
print(f"A multiplicação dos numéros é {multi:.2f}")
print(b1*3)
b1*3

10.709999999999999
A multiplicação é: 10.71
A multiplicação dos numéros é 10.71
10.709999999999999

10.709999999999999

### Divisão

In [67]:
c1 = 56
c2 = 8
div = c1 / c2

In [ ]:
# Modos de apresentação

print(div)
print('A divisão é:', div)
print('A divisão é:', round(div,2))
print(f"A divisão dos numéros é {div:.2f}")
print(c1/c2)
c1/c2

7.0
A divisão é: 7.0
A divisão é: 7.0
A divisão dos numéros é 7.00
7.0

7.0

### Parte inteira da divisão (//)

In [76]:
# Exemplo: encontre e guarde a parte inteira da divisão de 3 por 2
idiv = 3 // 2
print(f'Total: {idiv}')

Total: 1

### Resto da divisão (%)

In [77]:
# Exemplo: encontre e guarde o resto da divisão de 3 por 2
rdiv = 3 % 2
print(f'Total: {rdiv}')

Total: 1

### Potenciação (**)

In [78]:
# Exemplo: eleve 3 a 2
port = 3 ** 2
print(f'Total: {port}')

Total: 9

## f-string

No contexto do Python, o "f" em ".2f" é usado como um indicador de formatação para strings, mais especificamente para formatar números decimais.
A letra "f" é derivada da palavra "float" (que significa "ponto flutuante" em inglês), que é o tipo de dado utilizado para representar números decimais em Python.

In [85]:
print(f'O resultado da soma de 3 com 2 é: {soma:.2f} ')
print(f'O resultado da subtração de 3 com 2 é: {sub:.2f} ')
print(f'O resultado da multiplicação de 3 com 2 é: {multi:.2f} ')
print(f'O resultado da divisão de 3 com 2 é: {div:.2f} ')
print(f'A parte inteira da divisão de 3 por 2 é: {idiv:.2f} ')
print(f'O resto da divisão de 3 por 2 é: {rdiv:.2f} ')
print(f'O resultado da potenciação de 2 elavado a 2 é: {port:.2f} ')

O resultado da soma de 3 com 2 é: 132.40
O resultado da subtração de 3 com 2 é: 2.10
O resultado da multiplicação de 3 com 2 é: 10.71
O resultado da divisão de 3 com 2 é: 7.00
A parte inteira da divisão de 3 por 2 é: 1.00
O resto da divisão de 3 por 2 é: 1.00
O resultado da potenciação de 2 elavado a 2 é: 9.00

## **Operadores de Comparação (booleanos)**

In [ ]:
# (==) verifica se dois valores são iguais (retornar True ou False)
# Exemplo: Compare se 2 é igual a 3

a = 3 # atribuição do valor 3 (tipo int) para a variável a
b = 3.0 # atribuição do valor 3.0 (tipo float) para a variável b
teste1 = a == b # Fazendo o teste de igualdade de a com b e guardando na variável teste 1
print(teste1) # Imprimindo o valor da variável teste1

teste2 = 'douglas' == 'Douglas' # Comparando duas strings com uma pequena diferença entre elas
teste3 = 'douglas' == 'douglas'
print(teste2) # Imprimindo o valor da variável teste2
print(teste3)

# (!=) verifica se dois valores são diferentes (retorna True ou False)
# Exemplo: compare se 3 é diferente a 3.0
teste4 = a != b
print(f'Diferenciação: {teste4} ')

# (>) Verifica se um valor é maior que o outro (retorna True ou False)
# Exemplo: compare se 3 é maior que 2
teste5 = 3 > 2
print(f'Comparação de maior que: {teste5}' )

# (>=) Verifica se um valor é maior ou igual ao outro (Retornoa True ou False)
# Exemplo: compare de 3 é maior ou igual a 3
teste6 = 3 >= 3
print(f'Comparação de maior ou igual que: {teste6} ')

# (<) Verifica se um valor é menor que o outro (retorna True ou False)
# Exemplo: compare se 3 é menor que 2
teste7 = 3 < 2
print(f'Comparação de menor que: {teste7}' )

# (<=) Verifica se um valor é menor ou igual ao outro (Retornoa True ou False)
# Exemplo: compare de 3 é menor ou igual a 3
teste8 = 3 <= 2
print(f'Comparação de menor ou igual que: {teste8} ')

True
False
True
Diferenciação: False
Comparação de maior que: True
Comparação de maior ou igual que: True
Comparação de menor que: False
Comparação de menor ou igual que: False

## **Operadores de atribuição**

In [ ]:
# Atribuição direta (=) atribui ao lado esquerdo do sinal um valor que está ao lado dierito do nisal
nome = 'douglas'
peso_kg = 84
altura_m = 1.82

In [ ]:
# Atribuição de incremento (+=), equivale a x = x + y (equivale a uma variável x que já existe recebendo ela mesma + outro valor)
# Exemplo: crie uma variável t que receba o número inteiro 3 e depois acrescente o valor 1 para essa variável
t = 3
t += 1
print(t)

4

In [ ]:
# Atribuição de decremento (-=), equivale a x = x - y (equivale a uma variável x que já existe recebendo ela mesma - outro valor)
# Exemplo: crie uma variável z que receba o número inteiro 5 e depois diminua o valor 2 para essa variável
z = 5
z -= 2
print(f'O resultado de z - 2 é: {z} ')

O resultado de z - 2 é: 3

In [ ]:
# Atribuição de multiplicação (*=), equivale a x = x * y (equivale a uma variável x que já existe recebendo ela mesma * outro valor)
# Exemplo: crie uma variável j que receba o número inteiro 5 e depois multiplique o valor 2 para essa variável
j = 5
t *= 2
print(f'O resultado de j * 2 é: {j} ')

O resultado de j * 2 é: 5

In [ ]:
# Atribuição de devisão (/=), equivale a x = x / y (equivale a uma variável x que já existe recebendo ela mesma / outro valor)
# Exemplo: crie uma variável w que receba o número inteiro 7 e depois divida o valor 2 para essa variável
w = 7
w *= 2
print(f'O resultado de w / 2 é: {w} ')

O resultado de w / 2 é: 14

In [ ]:
# Atribuição da parte inteira da divisão (//=) equvale a x = x // y
# Exemplo: crie uma variável k que recebe o número 7 e depois receba a parte inteira da divisão por 2
k = 7
k //= 2
print(f'O resultado de k // 2 é: {k} ')

O resultado de k // 2 é: 3

In [ ]:
# Atribuição do resto da divisão (%=) equvale a x = x % y
# Exemplo: crie uma variável bque recebe o número 7 e depois receba o resto da divisão por 2
b = 7
b %= 2
print(f'O resultado de k %= 2 é: {b} ')

O resultado de k %= 2 é: 1

In [ ]:
# Atribuição da potenciação (**=) equvale a x = x ** y
# Exemplo: crie uma variável casamento que recebe o número 6 e depois receba o quadrado dela
casamento = 6
casamento **= 2
print(f'O resultado de casamento ** 2 é: {casamento} ')

O resultado de casamento ** 2 é: 36

### **Operadores lógicos**

In [ ]:
# (and) Retorna verdadeiro somente se todas as condições de uma comparação forem satisfeitas.
# Exemplo:
teste9 = 3 >= 2 and 3 != 2 and 3 < 4
print(teste9)

# (&) Retorna verdadeiro somente se todas as condições de uma comparação forem satisfeitas
# Exemplo:
teste10 = (3 >= 2) & (3 != 2) & (3 < 4)
print(teste10)

True
True

In [ ]:
# (or) Retorna verdadeiro se pelo menos um dos elementos for verdadeiro
# Exemplo:
teste11 = 3 >= 2 or 3 == 2 or 3 > 4
print(teste11)

True

In [ ]:
# (not) Inverte verdadeiro com falso
# Exemplo:
teste12 = not(teste11)
print(teste12)
teste13 = not(teste10)
print(teste13)

False
False

In [ ]:
# (is) Compara se um objeto é igual ao outro em relação ao outro valor e tipo
h = 3
p = 3
teste14 = p == h
print(f'p == h é: {teste14} ')
teste17 = p is h
print(f'p is h é: {teste17} ')

m = 3
n = 3.0
teste18 = m == n
print(f'm == n é: {teste18} ')
teste19 = m is n
print(f'm is n é: {teste19} ')
print(type(m))
print(type(n))

p == h é: True
p is h é: True
m == n é: True
m is n é: False
<class 'int'>
<class 'float'>

In [ ]:
# (is not) Compara se um objeto é diferente do outro em relação ao outro valor e tipo
x = 3
y = 4
teste20 = x != y
print(f'x != y é: {teste20} ')
teste21 = x is not y
print(f'p is not h é: {teste21} ')
print(type(x))
print(type(y))

o = 3
s = 3.0
teste22 = o != s
print(f'o != s é: {teste22} ')
teste23 = o is not s
print(f'o is not s é: {teste23} ')
print(type(o))
print(type(s))

x != y é: True
p is not h é: True
<class 'int'>
<class 'int'>
o != s é: False
o is not s é: True
<class 'int'>
<class 'float'>

### **Operadores de Associação**

In [ ]:
# (in) Retorna verdadeiro se um caracter ou sequência de caracteries foram encontrados dentro de uma string
# Exemplo:

nome = 'daniela'
teste24 = 'Dani' in nome
print(f'daniela contém dani: {teste24} ')

daniela contém dani: False

In [ ]:
# (not in) Retorna verdedeiro se um caracter ou sequência de caracteries NÃO for encontrado dentro de uma string
# Exemplo:

nome = 'daniela'
teste25 = 'Dani' not in nome
print(f'daniela contém Dani: {teste25} ')

daniela contém Dani: True

### **Coletando informações do usuário**

In [ ]:
nome = (input('Informe seu nome: '))
print(f'Seu nome é: {nome} ')
peso = int(input('Informe seu peso: '))
print(f'{nome}, seu peso atual é de: {peso} kg')
altura = float(input('Informe sua altura: '))
print(f'{nome}, você pesa {peso}kg e mede {altura}m')
imc = peso / (altura)**2
print(f'{nome}, sue IMC é: {imc:.2f} ')

KeyboardInterrupt: ignored

### **Python Básico - Strings**

In [ ]:
# inclusive : exclusive (lógica de fateamento)
#

# 0 1 2 3 4 5 6 7 8 9 10 11 12 13 (índice)
# -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1 (índice reverso)
# 1 2 3 4 5 6 7 8 9 10 11 12 13 (ordinal)
# o l e m f a @ o u t l o o k . c o m

email = 'olemfa@outlook.com'

# Encontrando um caracter pelo índice

# Exemplo: qual o quinto caracter dessa string?
print(f'O quinto caracter deste email é o: {email[4]} ')

# Exemplo: qual é o último caracter dessa string?
print(f'O último caracter deste email é o: {email[13]} ')

# Exemplo: Quais são os caracteres que vem depois do segundo? Exluindo o segundo.
print(f'Após o segundo caracter, estes são os demais: {email[2:]} ')

# Exemplo: Quais são todos os caracteres dessa string?
print(f'A sequência todos os caracteres desta string é: {email[:]} ')

# Exemplo: buscar e imprimir todos os caracteres até o caracter de índice 4 (todos os caracteres antes do @ até o @ incluindo o @)
print(f'A sequência caracteres desta string até o índice 4 é: {email[:1]}')

# Exemplo como acessar o último caracter da lista sem contar o tamanho dela (sem usar a função len())?
print(f'O último caracter dessa string é: {email[-1]}')

Métodos para Strings

In [ ]:
# Sinal de (+) para concatenar strings

nome = 'Anderson'
sobre = 'Melo'
print(nome +" " + sobre)

# Converter em número em string

cpf = 5417410470
cpf = str(cpf)
print(type(cpf))

# (in) Retorna verdadeiro se um caracter ou sequencia de caracteres for encontrado dentro de uma string
# Exemplo:
nomen = 'daniela'
testen = 'dani' in nomen
print(f'daniela contém dani: {testen}')
# (not in) Retorna verdadeiro se um caracter ou sequencia de caracteres NÃO for encontrado dentro de uma string
testen = 'Dani' not in nomen
print(f'daniela não contém Dani: {testen}')
# (len)Contar o número de caracteres de uma string
qtde = len(nome)
print(f'{nome} tem {qtde} caracteres')

Métodos específicos para strings

In [ ]:
# Método para deixar a primeira letra de uma string maiúscula

nomem = 'anderson'
nomem = nomem.capitalize()
print(nomem)
nomem = nomem.casefold()
print(nomem)

In [ ]:
# (count) Contar quantas vezes um caracter aparece em uma string

material = 'paralelepípado'
qtde_p = material.count('p')
print(f'{material} tem {qtde_p} Ps')

In [ ]:
# (endswith) Verifica se uma string termina com um caracter ou sequência de caracteres

email = 'olemfa@outlook.com'
teste_end = email.endswith('outlook.com')
print(teste_end)

In [ ]:
# (startswith) Verifica se uma string começa com um caracter ou sequencia de caracteres

email = 'olemfa@outlook.com'
teste_beg = email.startswith('d')
print(teste_beg)

In [ ]:
# (isnumeric) Verifica se um string é formado por números

rg = '2001001231248'
teste_rg = rg.isnumeric()
print(teste_rg)

In [ ]:
# (isalpha) Verifica se um string é formada por letras

rg2 = '1002001231248'
teste_rg2 = rg2.isalpha()
print(teste_rg2)

In [ ]:
# (isalnum) Verifica se uma string é formada por letras e números

rg3 = 'D'
teste_rg3 = rg3.isalnum()
print(teste_rg3)

In [ ]:
# (split) Separa uma string por caracteres específicos, se não for específicado o caracter ela assume espaço como separador

dados = input('Informe os valores separados por espaços ')
dados_sep = dados.split()
print(dados_sep)

In [ ]:
# (strip) Elimina caracteres indesejados de uma string. Por padrão, remove espaços do início e do final da string

autor = ' Douglas '
print(len(autor))
autor = autor.strip()
print(len(autor))

In [ ]:
# (replace) Substitui um caracter por outro

preco = 'R$ 11.29'
print(preco)
preco = preco.replace('.',',')
print(preco)

In [ ]:
# (title) Coloca a primeira letra de cada palavra em maiúscula

comp = 'anderson figueirêdo melo'
print(comp)
comp = comp.title()
print(comp)

In [ ]:
# (upper) Coloca todas as letras de um texto em maiúsculas

prof = 'anderson'
print(prof)
prof = prof.upper()
print(prof)

## **Estrutura de Condição - If, Elif, Else**

### Instrução "if":

* A instrução "if" é usada para executar um bloco de código se uma determinada condição for verdadeira. A sintaxe geral é a seguinte:

In [ ]:
'''
If condição:
      # bloco de código a ser executado se a condição for verdadeira
'''

In [ ]:
idade = 19
if idade >= 18:                           # : - Faça alguma coisa
      print("Você é maior de idade.")

In [ ]:
idade = 18
if idade >= 18:
    print("Você é maior de idade.")

In [ ]:
idade = 17
if idade >= 18:
    print("Vocêr é maior de idade.")

### Instrução "else"

* A instrução "else" é usada em conjunto com a instrução "if" e especifica um bloco de código a ser executado se a condição do "if" não for verdadeira. A sintaxe geral é a seguinte

In [ ]:
'''
if condição:
      # bloco de código a ser executado se a condição for verdadeira
else:
      # bloco de código a ser executado se a condição não for verdadeira
'''

In [ ]:
idade - int(input('Digite sua idade:'))

if idade >= 18:
    print("Você é maior de idade.")
else:
    print("Você é maior de idade.")

### Instrução "elif"

* A instrução "elif" é uma abreviação de "else if" e permite testar múltiplas condições em sequência. Ela é usada quando há mais de duas possibilidades a serem consideradas. A sintaxe feral é a seguinte:

In [ ]:
'''
if condição_1:
    # condição de código a ser executada se a condição 1 for verdadeira
elif condição_2:
    # bloco de código a ser executado se a condição_2 for verdadeira
else:
    # bloco de código a ser executado se nenhuma das condições anteriores for verdadeira
'''

In [ ]:
nota = int(input('Digite sua nota:'))

if nota >= 90:
    print("Sua nota é A.")

elif nota >= 80:
    print("sua nota é B.")

elif nota >= 70:
    print("sua nota é C.")

else:
    print("Sua nota é D.")

### Exemplo:

* Escreva um programa que verifique se um número digitado pelo usuário é positivo, negativo ou zero.

Passo a passo:

1. Solicite ao usuário que digite um número.
2. Armazene o número digitado em uma variável chamada "numero".
3. Verifique se o número digitado é igual a zero. Se sim, exiba a mensagem "O número digitado é zero."
4. Caso contrário, verifique se o número é maior que zero. Se sim, exiba a mensagem "O número digitado é positivo."
5. Se nenhuma das condições anteriores for atendida, significa que o número é negativo. Nesse caso, exiba a mensagem "O número digitado é negativo."
6. Encerre o programa.

In [ ]:
numero = float(input("Digite um número: "))

if numero == 0:
    print("O número digitado é zero.")
elif numero > 0:
    print("O número digitado é positivo.")
else:
    print("O número digitado é negativo.")

In [ ]:
nome_dog = str(input("Qual o nome do cahorro: "))

if nome_dog == 'Toby':
      print('Você acertou!')
else:
      print('Você errou. Tenta novamente.')

## Praticando

### Atividade 1

Faça um algoritmo que leia um número inteiro e diga se ele é maior, menor ou igual a 10.

In [ ]:
n1 = int(input("Informe um número inteiro: "))

if n1 == 10:
    print('Este número é igual a 10.')
elif n1 >= 10:
    print(f'{n1} é maior que 10.')
else:
    print(f'{n1} é menor que 10.')

### Atividade 2

Faça um algoritmo que leia dois números inteiros e apresente na tela o maior deles ou se eles são iguais.

In [ ]:
n2 = int(input("Informe o primeiro número: "))
n3 = int(input("Informe o segundo número: "))

if n2 > n3 or n3 > n2:
    print(f'{n2} é maior do que {n3} .')
elif n3 > n2:
    print(f'{n3} é maior do que {n2} .')
else:
    print(f'{n2} e {n3} são iguais.')

### Atividade 3

Crie um algoritmo que leia um número e diga se ele está no intervalo fechado entre 25 e 200.

In [ ]:
n4 = float(input("Informe um número: "))

if n4 >=25 and n4 <=200:
    print(f'{n4} está dentro do intervalor que vai de 25 a 200.')
else:
    print(f'{n4} não está dentro do intervalo que vai de 25 a 200.')

### Atividade 4

Crie um algoritmo que leia um número e informe na tela se o mesmo é positivo. Caso seja, mostre o número na tela;

In [ ]:
n5 = float(input('Digite um número: '))

if n5 > 0:
    print(f'{n5} é positivo.')
else:
  print('Este número é negativo.')

### Atividade 5

Crie um algoritmo que leia um número e informe se ele é divisível por 7.

In [ ]:
n6 = float(input("Digite um número: "))

if n6 %7 == 0:
    print(f'{n6} é divisível por 7.')
else:
    print(f'Ele não é divisível e o resto é {n6 %7}.')

### Ativiade 6

Crie um algoritmo que leia um número e diga se ele é par ou ímpar.

In [ ]:
n7 = float(input("Digite um número: "))

if n7 %2 == 0:
    print(f'{n7} é par.')
else:
    print(f'{n7} é impar.')

### Atividade 7

Escreva um programa em Python que solicite ao usuário que digite uma letra. Em seguida, verifique se a letra digitada é uma vogal ou não.

In [ ]:
l1 = str(input('Informe uma letra do alfabeto: '))
l1 = l1.casefold()

if l1 in 'aeiou':
    print(f'{l1} é uma vogal.')
else:
    print(f'{l1} não é uma vogal.')

### Atividade 8

Escreva um programa que solicite ao usuário três notas de um aluno e calcule a média. Em seguida, exiba a média e uma mensagem informando se o aluno foi aprovado (média maior ou igual a 7) ou reprovado.

### Atividade 9

Escreva um programa que solicite ao usuário os comprimentos dos três lados de um triângulo. Em seguida, exiba uma mensagem informando se o triângulo é equilátero (todos os lados iguais), isósceles (dois lados iguais) ou escaleno (todos os lados diferentes).

### Atividade 10

Escreva um programa que solicite ao usuário sua idade e exiba uma mensagem informando em qual faixa etária ele se encontra: criança (0-12 anos), adolescente (13-17 anos), adulto (18-59 anos) ou idoso (60 anos ou mais).

## **Estruturas de dados em Python**

### Listas

É uma estrutura que pode armazenar diversos valores sobre um determinado atributo.

Exemplo:

In [95]:
lista_vazia = [] # Será utilizada mais para a frente da explicação (append+)

noivo = ['Zé', 'Mané', 'Ana', 'Fran', 'João', 'Franz']
print(f'Segue lista dos convidados do noivo: {noivo}')

idade = [41, 47, 46, 28, 17, 50]
print(f'A idade dos convidados é: {idade}')

massas = [86, 74, 52, 47, 90, 110]
print(f'O peso dos convidados é: {massas}')

alturas = [1.68, 1.74, 1.65, 1.65, 1.97]
print(f'A altura dos convidades é: {alturas}')

Segue lista dos convidados do noivo: ['Zé', 'Mané', 'Ana', 'Fran', 'João', 'Franz']
A idade dos convidados é: [41, 47, 46, 28, 17, 50]
O peso dos convidados é: [86, 74, 52, 47, 90, 110]
A altura dos convidades é: [1.68, 1.74, 1.65, 1.65, 1.97]

### Acessando um elemento específico da lista a partir do seu índice.

In [91]:
print(f' A convidada de honra se chama {noivo[3]}')
sublista = noivo[:3]
print(sublista)
p_u = noivo[0], noivo[-1]
print(f'O primeiro convidado é {p_u[0]} e o último convidado é {p_u[-1]}')

 A convidada de honra se chama Fran
['Zé', 'Mané', 'Ana']
O primeiro convidado é Zé e o último convidado é Franz

### Método Index

Valor procurado; índice de início; índice de fim da procura.
Por definição, se não for oferecido o índice de ínicio e fim será procurado na lista toda.

In [92]:
id = noivo.index('Fran')

In [93]:
# Qual é o IMC da convidada Fran
print(f'O IMC da Fran é {(massas[id] / alturas[id] ** 2):.2f}')

O IMC da Fran é 17.26

### Desafio:

Crie um programa que receba do usuário um nome e caso esse nome esteja na lista, guarde seu índice em uma variável e a utilize para buscar massa e altura correspondente, bem como calcular seu IMC e após tudo isso, informar o usuário. Caso o nome não esteja na lista , retorne uma mensagem informando o usuário.

In [94]:
n1 = str(input('Digite um nome: '))
n1 = n1.capitalize()
id = noivo.index(n1)

if n1:
  consta = True
else:
  consta = False

if consta == True:
    print(f'{n1} está na lista e o seu IMC é {(massas[id] / alturas[id] ** 2):.2f}.')
else:
    print('Este nome não está na lista.')

Digite um nome: Fran
Fran está na lista e o seu IMC é 17.26.

### Comando append()

Adiciona elementos em uma lista qualquer. Por padrão, este método insere o valor desejado em uma lista existente na última posição.

In [96]:
d = []

* Obs.: caso a varável criada para guardar a lista não seja declarada junto com o append, toda vez que for executado o código, será impresso um objeto na última posição indefinidamente.

In [106]:
# Exemplo sem a variável declarada:

d.append(22)
print(d)

[22, 22, 22, 22, 22, 22, 22, 22]

In [108]:
# Exemplo com a variável declarada:

d = []
d.append(22)
print(d)

[22]

In [122]:
lista_vazia = [] # cria uma lista vazia com o nome lista vazia e apaga todos os elementos de qualquer objeto com o mesmo nome
print(lista_vazia) # imprime uma lista vazia que já existe
lista_vazia.append('Joana') # adiciona Joana na última posição de uma lista que já exista
lista_vazia.append('Douglas')
lista_vazia.append('Eduardo')
lista_vazia.append('Ester')
lista_vazia.append('Daniela')
lista_vazia.append('Pedro')
lista_vazia.append('Maria')
print(lista_vazia) # imprime o status atual da lista vazia
fam = lista_vazia # A variável fam irá receber a lista da variável lista_vazia. A partir daqui, a variável fam será a lista principal.
print(lista_vazia)
print(fam)

[]
['Joana', 'Douglas', 'Eduardo', 'Ester', 'Daniela', 'Pedro', 'Maria']
['Joana', 'Douglas', 'Eduardo', 'Ester', 'Daniela', 'Pedro', 'Maria']
['Joana', 'Douglas', 'Eduardo', 'Ester', 'Daniela', 'Pedro', 'Maria']

### Comando insert()

Este comando insere um objeto dentro de uma lista existente. Primeiro você informa o índice em que será inserido e depois o objeto.

In [123]:
fam.insert(3, 'Tobias')
print(fam)

['Joana', 'Douglas', 'Eduardo', 'Tobias', 'Ester', 'Daniela', 'Pedro', 'Maria']

### Atribuição direta

Este comando insere um novo elemento substituindo o anterior, se houver.

In [124]:
fam[3] = 'Raimundo' # Neste caso, 'Raimundo' substitui 'Tobias' que se encontrava na posição/índice 3.
print(fam)

['Joana', 'Douglas', 'Eduardo', 'Raimundo', 'Ester', 'Daniela', 'Pedro', 'Maria']

## Excluindo item da lista

### Método pop()

 Este método exclui pelo índice. Por padrão, exclui o último elemento se não informarmos o índice.

In [125]:
# Excluir um objeto sem declarar o índice
fam.pop()
print(fam)

['Joana', 'Douglas', 'Eduardo', 'Raimundo', 'Ester', 'Daniela', 'Pedro']

In [126]:
# Excluir um objeto declarando seu índice
fam.pop(0)
print(fam)

['Douglas', 'Eduardo', 'Raimundo', 'Ester', 'Daniela', 'Pedro']

### Método remove()

Exclui o objeto diretamente pelo seu nome.

In [127]:
fam.remove('Raimundo')
print(fam)

['Douglas', 'Eduardo', 'Ester', 'Daniela', 'Pedro']

In [ ]:
# criando uma lista com strings
nomes = ['Douglas', 'Daniela', 'Pedro', 'Maria', 'Eduardo', 'Ester']

# criando uma lista com números inteiros
pesos = [78, 25, 98, 63, 92, 67]

# criando uma lista com números fracionários
alturas = [1.85, 1.29, 1.75, 1.67, 1.82, 1.70]

In [ ]:
# forçando um erro usando o remove
nomes.remove('xerox')

In [ ]:
# solução 1
teste = input('Informe o nome que deseja excluir da lista: ') # recebe um nome do usuário e o guarda na variável teste
teste = teste.capitalize() # Padroniza a variável teste com a primeira letra maiúscula
if teste in nomes: # verifica se o nome armazenado em teste está na lista de nomes
  nomes.remove(teste) # se somente se o nome armazenado em teste estiver na lista, faz a exclusão
  print(f'O nome {teste} foi exluído com sucesso') # imprime o resultado da exclusão se somente se ela for feita
else:
  print(f'O nome {teste} não está na lista, logo não pode ser excluído') # Caso o nome digitado não esteja na lista informa o usuário essa situação

In [ ]:
# solução 2 (utlizando try/except)
teste2 = input('Informe o nome que deseja excluir da lista: ') # recebe um nome do usuário e o guarda na variável teste
teste2 = teste2.capitalize()# Padroniza a variável teste com a primeira letra maiúscula
try: # comando para tentar fazer alguma ação
  nomes.remove(teste2) # ação que será feita caso a tentativa seja bem sucedida (neste caso se o nome digitado estiver na lista)
  print(f'O nome {teste2} foi excluído com sucesso') # imprime o resultado da exclusão se somente se ela for feita
except: # comando para o caso da tentativa (try) ser mal sucedida (no caso se o nome não estiver na lista)
  print(f'O nome {teste2} não está na lista, logo não pode ser excluído') # Caso o nome digitado não esteja na lista informa o usuário essa situação

In [ ]:
# Tamanho da lista len(lista)
print(len(nomes))

# Maior valor da lista
print(max(pesos))

# Menor valor da lista
print(min(alturas))

# Soma dos valores de uma lista
print(sum(alturas))

# Contando a frequência de um valor em uma lista
print(nomes.count('Douglas'))

# Ordenar uma lista crescente
nomes.sort()
print(nomes)
# Ordenar uma lista crescente
nomes.sort(reverse=True)
print(nomes)

In [ ]:
# Adicionando todos os elementos de uma lista em outra usando o método extend
# Melhor para alteração no banco de dados
nomes1 = ['Zé', 'Mané']
nomes2 = ['Ana', 'José']

nomes1.extend(nomes2)

print(nomes1)

In [ ]:
# Adicionando todos os elementos de uma lista em outra usando sinal de (+) (concatenando listas)
# Melhor para filtro
nomes1 = ['Zé', 'Mané']
nomes2 = ['Ana', 'José']

teste = nomes1 + nomes2
print(teste)

In [ ]:
# Colocando uma lista dentro de outra
carros = ['Fusca', 'Gol']
carros2 = ['Uno', 'Punto', 'Bravo']
carros.append(carros2)
print(carros)

In [ ]:
# tirando uma lista da outra
fiat = carros[2]
print(fiat)

In [ ]:
# acessando um item de uma lista que está dentro de outra
ok = carros[2][0]
print(f'O melhor carro de todos os tempos é {ok}')

### Função Range

In [ ]:
# Função range com um argumento cria um lista com n valores inteiros de 0 a a n-1
lista1 = list(range(5))
print(lista1)
# Função range com dois argumentos cria um lista com n valores inteiros do início informado no primeiro argumento até  ((n-1) - primeiro argumento informado) informado no segundo argumento
lista2 = list(range(1,5))
print(lista2)
# Função range com três argumentos cria um lista com definição de onde começar (primeiro argumento), onde parar (segundo argumento) e de qual tamando de intervalo entre os valores (terceiro argumento)
lista3 = list(range(1,5,2))
print(lista3)

[0, 1, 2, 3, 4]
[1, 2, 3, 4]
[1, 3]

## **Estruturas de Repetição (For)**

In [ ]:
# Apresentando e utilizando o for de forma simples
pesos = [78, 25, 98, 63, 92, 67]
for peso in pesos:
  print(peso)

In [ ]:
# Utilizando o for com else
for i in pesos:
    print(i)
else:
    print('Todos os items foram exibidos com sucesso')

In [ ]:
notas = [5, 9, 6, 8, 7]
for i in notas:
  print(i)

Função enumerate

In [ ]:
notas = [5, 9, 6, 8, 7]

for i, v in enumerate(notas):
  print(i,v)

In [ ]:
# Utilizando o for com range
alturas = [1.85, 1.29, 1.75, 1.67, 1.82, 1.70]
alturas_quad = []
imc = []
for i in range(len(alturas)):
  alturas_quad.append(alturas[i]**2)
  imc.append(pesos[i]/alturas_quad[i])
print(f'IMC {imc}')

In [ ]:
notas[0]

In [ ]:
# Utilizando o for com range
alturas = [1.85, 1.29, 1.75, 1.67, 1.82, 1.70]
pesos = [78, 25, 98, 63, 92, 67]
alturas_quad = []
imc = []
for i in range(len(alturas)):
  alturas_quad.append(alturas[i]**2)
  imc.append(pesos[i]/alturas_quad[i])
print(f'IMC {imc}')
print(alturas_quad)

In [ ]:
# Utilizando o for com enumerate
alturas_quad = []
imc = []
for i, v in enumerate(pesos):
  print(i)
  print(v)
  alturas_quad.append(alturas[i]**2)
  imc.append(pesos[i]/alturas_quad[i])
print(f'IMC {imc}')

## **Desafio**

### Atividade 1

Crie um script que receba do usuário uma lista de n números inteiros digitados pelo usuário na mesma caixa de entrada separados por espaços e após isso utilize o método split para separar esses números e armazená-los em uma lista acesse o índice 0 dessa nova lista e verifique seu tipo e caso seja o tipo inteiro imprima para o usuário a seguinte mensagem: este valor é do tipo inteiro, caso contrário imprima: este valor não é do tipo inteiro.

In [ ]:
lista_1 = (input('Digite uma sequência de números: '))
lista_2 = lista_1.split()
lista_zero = []
lista_zero.extend(lista_2)
print(lista_zero)
indice_0 = lista_zero[0]

if indice_0 == int:
  print('Este número é inteiro.')
else:
  print('Este número não é um inteiro.')

Digite uma sequência de números: 1 2 3 4 5 6
['1', '2', '3', '4', '5', '6']
Este número não é um inteiro.

### Atividade 2

Crie um script que aproveite a lista utilizada para imprimir a mensagem do exercício
anterior e utilize uma estrutura for que percorra toda a lista e faça a tipagem de cada
valor como inteiro, após isso acesse o índice 0 dessa nova lista e verifique seu tipo e
caso seja o tipo inteiro imprima para o usuário a seguinte mensagem: este valor é do
tipo inteiro, caso contrário imprima: este valor não é do tipo inteiro.

In [ ]:
lista_nova = lista_zero
nova_lista = []

for x in lista_nova:
  nova_lista.append(int(x))

if nova_lista[0]:
  print('Este número é inteiro.')
else:
  print('Este número não é um inteiro.')

Este número é inteiro.

### Atividade 3

Utilizando a lista tipada como int do exercício 2, faça um print que exiba a soma de
todos os valores dessa lista.

In [ ]:
print(sum(nova_lista))

21

### Atividade 4

Crie uma lista vazia denominada quadrados e utilizando a lista tipada como int do
exercício 2, faça uma estrutura do tipo for que percorra cada elemento dessa lista de
números inteiros, eleve cada valor encontrado ao quadrado e insira cada resultado na
lista quadrados e ao final exiba a soma dos valores da lista quadrados.

In [ ]:
quadrados = []
for x in nova_lista:
  quadrados.append(x**2)
print(sum(quadrados))

91

### Atividade 5

Crie um programa que receba do usuário duas listas de n números inteiros digitados
pelo usuário separados por espaços e após isso utilize o método split para dividir cada
lista gerando duas novas listas chamadas x e y é importante deixar claro para o usuário
que as duas listas digitadas devem ter a mesma quantidade de números digitados
independente de quantos sejam. Após isso, faça a tipagem de todos os números das
duas listas como float, então crie três novas listas vazias: xquad, yquad e xy. Agora
preencha a lista xquad com cada elemento da lista x elevado ao quadrado, depois faça
o mesmo para yquad, elevando cada elemento de y ao quadrado e por último preencha
a lista xy fazendo a multiplicação de cada valor da lista x pelo seu correspondente na
lista y. No final crie a variável sx que recebe a soma dos valores da lista x, a variável sy
que recebe a soma dos valores da lista y, a variável sxquad, que recebe a soma da lista
xquad, a variável syquad que recebe a soma da lista de yquad e a variável sxy que
recebe a soma da lista de xy e no final imprima todas as variáveis de soma criadas.

In [ ]:
l1 = input("Digite uma primeira sequência de números: ")
l2 = input("Digite uma segunda sequência de  números (na mesma quantidade da primeira): ")

x = l1.split()
y = l2.split()

x = [float(i) for i in x]
y = [float(i) for i in y]

xquad = []
yquad = []
xy = []

for i in x:
  xquad.append(i**2)
print(xquad)

for i in y:
  yquad.append(i**2)
print(yquad)

for i in range(len(x)):
  xy.append(x[i]*y[i])
print(xy)

sx = sum(x)
sy = sum(y)
sxquad = sum(xquad)
syquad = sum(yquad)
sxy = sum(xy)

print(f"O valor total de sx é {sx}.")
print(f"O valor total de sy é {sy}.")
print(f"O valor total de sxquad é {sxquad}.")
print(f"O valor total de sy quad é {syquad}.")
print(f"O valor total de sxy é {sxy}.")

Digite uma primeira sequência de números: 1 2 3
Digite uma segunda sequência de  números (na mesma quantidade da primeira): 4 5 6
[1.0, 4.0, 9.0]
[16.0, 25.0, 36.0]
[4.0, 10.0, 18.0]
O valor total de sx é 6.0.
O valor total de sy é 15.0.
O valor total de sxquad é 14.0.
O valor total de syquad é 77.0.
O valor total de sxy é 32.0.